.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
/* nav starts */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    align-items: center;
}
nav .logo{
    font-size: 28px;
    font-weight: bolder;
}
nav button{
    background-color: whitesmoke;
    font-weight: 500;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 17px 24px;
}
/* banner starts */
.banner{
    background-image: url("../assets/Hero-bg.png");
    margin-bottom: 74px;
}
.banner button{
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}
.banner-content{
    text-align: center;
    padding: 26px;
}
.dev-img{
    margin-bottom: 32px;
}
.banner-content>h1{
    font-weight: bold;
}
.banner-content p{
    margin-bottom: 32px;
}
/* web-dev starts */
.web-dev{
    align-items: center;
    background-color: #FAFAFB;
}
.web-dev-content{
    padding: 80px;
    text-align: center;
    margin: 47px;
}
.web-dev-items .context button{
    background-color: white;
    border: 2px solid black;
    padding: 12px;
}
.web-dev-items{
    display: flex;
    justify-content: center;
    padding: 32px;
    background-color: white;
    gap: 32px;
    margin: 10px 97px;
}
.my-inspiration{
    margin: 88px;
    text-align: center;
}
.my-inspiration h3, p{
    margin-bottom: 24px;
}
/* target starts */
.target-content{
    text-align: center;
}
.cards{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px 100px 0 0;
}
.card .htl{
    background-color: #FFF6F4;
    height: 300px;
    width: 364px;
    padding: 40px;
}
.card .cs{
    background-color: #F2F6FE;
    height: 300px;
    width: 364px;
    padding: 40px;
}
.card .js{
    background-color: #FFFDF2;
    height: 300px;
    width: 364px;
    padding: 40px;
}
.card a{
    color:black;
}
/* support starts */
.support{
    background-image: url(../assets/handshake.jpg);
    text-align: center;
    padding: 64px;
    margin: 44px 0;
    border-radius: 5px;
}
.support-content{
    color: white;
}
#inpt-text{
    height: 58px;
    width: 684px;
    margin-right: 16px;
}
#inpt-submit{
    width: 120px;
    height: 58px;
}